.postItemAuthor {
  display: none; }

.postItem {
  width: 100%;
  display: flex;
  border: 1px solid rgba(175, 157, 128, 0.3);
  border-radius: 4px;
  padding: 10px 14px; }

.postDate {
  font-size: 0.8em; }

.postItemAuthor {
  min-width: 120px;
  border-right: 1px solid #EAD5D7;
  position: relative;
  margin-right: 4px; }

.authorName {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #E6F7EF;
  font-size: 12px;
  bottom: 0px; }

.authorImage {
  min-width: 60px;
  height: 100px;
  border-radius: 50%;
  background: url("../../images/person.svg");
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat; }

.postItemBody {
  width: 100%;
  position: relative; }

.postItemBody nav {
  position: absolute;
  top: 4px;
  right: 4px; }

.editButton {
  margin-right: 10px;
  margin-top: 1px; }

.addPostButton {
  margin-right: 10px;
  margin-top: 1px;
  padding: 2px; }

.iconButton {
  background-color: #5c604b;
  color: white;
  outline: none;
  border-radius: 4px;
  text-align: center; }

.postItemBodyMain {
  margin: 1em 1.2em 1em 1.2em; }

.postItemBodyMain header {
  font-size: 19px; }

.postItemBodyMain p {
  font-size: 14px;
  padding-top: 10px; }

.postItemBodyMain footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  font-size: 12px; }

.postItemBodyMain div {
  margin-right: 40px; }

@media (min-width: 412px) and (max-width: 920px) {
  .postItemAuthor {
    display: none; }
  .postItemBodyMain header {
    /*margin: 2.1em .2em .2em .2em;*/ } }
